* {
  margin: 0;
  padding: 0;
  box-shadow: none;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
}
body{
  height: 5000px;
}

:root {
  --hero-color: #1b1b1b;
  --default-color:#ffffff;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: space-around;
  align-items: center;
  background-color: var(--hero-color);
  height: 20vh;
}

.nv-title {
  text-transform: uppercase;
  color: var(--default-color);
  font-size: 25px;
  font-weight: 800;
}

.nv-item ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--default-color);
  list-style: none;
  font-size: 18px;
  gap: 50px;
  font-weight: 600;
  text-transform: uppercase;
}
.mob-holder{
  width: 100%;
  object-fit: cover;
}
.hambur-icon{
  height: 25px;
}
.bd-discription{
  display: flex;
  flex-direction: row;
  height: 50vh;
  justify-content: space-around;
}
.bd-discription-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38vw;
  padding: 12px 15px;
  font-size: 38px;
  position: relative;
}
.web-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  font-weight:900;
}
.bd-see-more-btn{
  text-transform: uppercase;
  border: 1px solid rgb(0,0,0);
  background-color: transparent;
  padding: 5px 18px;
  border-radius: 15px;
  position: absolute;
  left: 12px;
  bottom: 30px;
  cursor: pointer;
}
.card-container{
  /* background-color: bisque; */
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 10px;
  /* padding: 102px 20px; */
}

.cd-card{
  display: flex;
  flex-direction: column;
}
.card-one-img{
  height: 480px;
  /* width: 100%; */
  cursor: pointer;
  object-fit: contain;
  transition:   transform 0.18s;
}
.card-one-img:hover{
  transform: scale(1.05);
  
}
.card-one-vid{
  height: 480px;
  width: 100%;
  object-fit: contain;
}
.cd-card h3{
margin-top: 15px;
margin-left: 20px;
width: 25vw;
font-size: 22px;
}
.cd-card p{
margin-top: 5px;
margin-left: 20px;
width: 25vw;
font-size: 17px;
}
.hr-line{
  position: relative;
}
.p-one{
  position: absolute;
  top: 5px;
  left: 160px;
}
.p-two{
  position: absolute;
  top: 5px;
  left: 710px;
}
.p-three{
  position: absolute;
  top: 5px;
  font-weight: bolder;
  left: 1320px;
}
hr{
  margin: 0 150px;
  margin-top: 10vw;
}
.engagements{
  display: flex;
  justify-content: start;
  align-items: center;
}
.engagements h1{
  width: 10vw;
  margin-left:150px;
  margin-top: 10vw;
  font-size: 45px;
}
.engagements-fetures{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 8vw;
  background-color: blanchedalmond;
}
.ft-card{
  display: flex;
  justify-content: start;
  /* align-items: center; */
  background-color: aqua;
  width: 30%;
  height: 70vh;
}
.ft-card p{
  margin-top: 80px;
  margin-left: 50px;
  font-size: 32px;
}


  

