
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #eadfdf;
            color: #333;
        }
        
        header {
            background: #0078d7;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        
        .Instagram{
            background-color: #ef4444;
            border: none;
            color: #fff;
            border-radius: 2px;
            height: 35px;
            width: 85px;
            cursor: pointer;
            margin-left: 50px;
            border-radius: 2px;
        }
        
        .Instagram:hover{
            background-color: #e85e5e;
        }

.Youtube{
            background-color: #ef4444;
            border: none;
            color: #fff;
            border-radius: 2px;
            height: 35px;
            width: 85px;
            cursor: pointer;
            margin-left: 50px;
            border-radius: 2px;
}
.Youtube:hover
        nav {
            display: flex;
            justify-content: center;
            background: #333;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            padding: 1rem;
        }
        nav a:hover {
            background: #575757;
        }
        main {
            padding: 70px;
            max-width: 800px;
            margin: 0 auto;
            background: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        footer {
            text-align: center;
            padding: 1rem 0;
            background: #333;
            color: #fff;
            margin-top: 2rem;
        }
      