.Search{
  font-size: 17px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: block;
}  
.video-preview{
  display: inline-block;
  vertical-align: top;
  margin-left: 15px ;
}
.thumb-1,.thumb-2{
  width: 350px;
}

.title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  width: 350px;
}
.video-stats{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(80, 80, 80);
}
.video-author{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(80, 80, 80);
} 
.video-description{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(80, 80, 80);
  width: 350px;
}