.Search{
  font-size: 17px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: block;
}  

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}



.thumb-1,.thumb-2{
  width: 100%;
}
p{
  font-family: Roboto,Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.title{
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 0;
 
  font-weight: 500;
  font-size: 14px;
}
.video-title-1{
   font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 15px;
}
.video-stats,.video-author{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author{
  margin-bottom: 5px;

} 
.video-description{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(80, 80, 80);
  width: 350px;
}

.channel-pro-pic{
  width: 40px;
  border-radius: 50px;
}
.thumb-row{
  margin-bottom: 10px;
}

.videos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 20px;
}
