.Search{
  font-size: 17px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: block;
}  
.video-preview{
  display: inline-block;
  vertical-align: top;
  margin-left: 15px ;
}
.thumb-1,.thumb-2{
  width: 350px;
}
p{
  font-family: Roboto,Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.title{
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 0;
 
  font-weight: 500;
  font-size: 14px;
}
.video-title-1{
   font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
}
.video-stats,.video-author{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author{
  margin-bottom: 5px;

} 
.video-description{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(80, 80, 80);
  width: 350px;
}
.channel-pic-1{
  display: inline-block;
  width: 50px;
  vertical-align: top;
}
.video-info-1{
   display: inline-block;
   width: 200px;
}
.channel-pro-pic{
  width: 40px;
  border-radius: 50px;
}
.thumb-row{
  margin-bottom: 10px;
}